/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --main-color: #ff6d46;
    --second-color: #eef5f3;
    --text-color: #121011;
    --bg-color: #eff3eb;
    /* Box shadow */
    --box-shadow: 0 0 16px 1px rgb(14 52 54/15%)
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 50px 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 14px 100px;
    z-index: 1000;
    border-radius: 1rem;
}

/* header changer while scrolling css */
header.active {
    border-bottom: 2px outset var(--main-color);
    border-radius: 5rem;
}

.logo {
    display: flex;
    column-gap: 0.5rem;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar a:hover {
    border-bottom: 2px solid var(--main-color);
    border-radius: 20rem;
}

#menu-icon {
    font-size: 24px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.header-icon {
    display: flex;
    column-gap: 0.8rem;
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
    z-index: 1000;
    align-items: center;
}

.header-icon .bx {
    background: var(--main-color);
    color: var(--bg-color);
    padding: 7px;
    border-radius: 0.6rem;
}

.header-icon .bx:hover {
    background: #c16f58;
}

.header-icon i {
    position: relative;
}

.header-icon span {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 0.6rem;
    font-weight: 500;
}

.search-box {
    position: absolute;
    top: 105%;
    right: -100%;
    width: 250px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.search-box input {
    border: none;
    outline: none;
    color: var(--main-color);
    padding: 7px;
    font-size: 1rem;
    border-radius: 1rem;
}

.search-box input::placeholder {
    font-size: 0.8rem;
    font-weight: 500;
}

.search-box.active {
    right: 1rem;
}

.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    width: 100%;
    min-height: 740px;
    align-items: center;
    gap: 1.5rem;
    background: var(--second-color);
}

.home-text h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
}

.home-text h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.home-text span {
    color: var(--main-color);
}

.home-text p {
    width: 80%;
    font-size: 0.938rem;
    margin: 0.5rem 0 1.5rem;
}

.btn {
    background: var(--main-color);
    color: var(--bg-color);
    padding: 10px 40px;
    border-radius: 0.6rem;
    font-weight: 500;
}

.btn:hover {
    background: #c16f58;
    color: var(--text-color);
}

.home-img {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: float 5s linear infinite;

}

@keyframes float {

    0%,
    100% {
        transform: translateY(-3.5rem);
    }

    50% {
        transform: translateY(1rem);
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
    align-items: center;
}

.about-img img {
    transition: transform 3s linear;
}

.about-img img:hover {
    transform: scale(1.3);
}

.about-text h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1.5rem;
}

.products-heading {
    text-align: center;
    text-transform: uppercase;
}

.products-heading h2 {
    font-size: 1.8rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
}

.product-container .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;

}

.product-container .box img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    background: var(--second-color);
    border-radius: 0.5rem;
}

.product-container .box:hover img {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: 0.4s all linear;
}

.product-container .box h2 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}

.product-container .box span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.product-container .box .bx {
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--main-color);
    border-radius: 0.5rem 0 0.5rem;
    color: var(--bg-color);
    cursor: pointer;
}

.product-container .box .bx:hover {
    background: #c16f58;
}

.customers-heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 18px;
}

.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box {
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
}

.stars .bx {
    color: var(--main-color);
}

.customers-container .box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.customers-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.customers-container .box p {
    font-size: 0.938rem;
    margin: 0.5rem 0 0.5rem;
}

.customers-container .box:hover {
    background: var(--second-color);
    transition: 0.3s all linear;
}

.newsletter {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
}

.newsletter h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.newsletter span {
    color: var(--main-color);
}

.newsletter .input {
    width: 200px;
    border: none;
    outline: none;
    color: var(--main-color);
    padding: 7px;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.email-btn {
    color: var(--bg-color);
    background: var(--main-color);
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    cursor: pointer;
}

.email-btn:hover {
    background: #c16f58;
}

.footer {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    background: var(--second-color);
    border-radius: 0.5rem;
    margin: 10px;
    padding: 30px;
}

.footer p {
    font-size: 0.938rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
}

.social .bx {
    background: var(--second-color);
    color: var(--main-color);
    border-radius: 50%;
    font-size: 24px;
    margin: 0.5rem;
    cursor: pointer;
}

.social .bx:hover {
    background: var(--main-color);
    color: var(--second-color);
}

.footer-box h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}

.footer-box a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.footer-box a:hover {
    color: var(--main-color);
}

.new-footer h3 {
    margin-left: 0.7rem;
}

.new-footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 0.2rem;
    font-size: 14px;
    font-weight: 500;
}

.new-footer .bx {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    margin: 0.5rem;
    cursor: pointer;
}


/* Media querry  */

@media(max-width:986px) {
    header{
        padding:18px 4%;
    }
    .home {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
        width: 100%;
        min-height: 740px;
        align-items: center;
        gap: 1rem;
        background: var(--second-color);
    }

    .home-text h3 {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--main-color);
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }

}




@media(max-width:822px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, auto));
        column-gap: 2rem;
        background: var(--second-color);
        border-radius: 0.5rem;
        margin: 10px;
        padding: 30px;
    }
}

@media(max-width:768px) {

    header{
        padding:15px 4%;
    }
    /* css code how to handle the menu icon and navbar */
    .navbar {
        display: grid;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        /* background: var(--main-color); */
        gap: 1.4rem;
        transition: 0.3s all linear;
        text-align: center;
        box-shadow: var(--box-shadow);
        border-radius: 5rem;
        clip-path: circle(0% at 100% 1%);
    }
    .navbar a{
        color: var(--main-color);
        display: block;
        font-weight: 600;
    }

    .navbar.active {
        clip-path: circle(150% at 100% 1%);
    }

    #menu-icon {
        display: initial;
    }
/* 
    .home-text {
        padding:15px;


    } */

    .home-text h1 {
        font-size: 1.5rem;
    }

}

@media(max-width:774px) {
    header{
        padding:15px 4%;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, auto));
        column-gap: 1rem;
        background: var(--second-color);
        border-radius: 0.5rem;
        margin: 5px;
        padding: 15px;
    }
}

@media(max-width:685px) {
    header{
        padding:5px 4%;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        column-gap: 2rem;
        background: var(--second-color);
        border-radius: 0.5rem;
        margin: 10px;
        padding: 30px;
    }
    
    .home-text {
        margin-top:5x;


    }

}

@media(max-width:605px) {
    header{
        padding:5px 4%;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        column-gap: 2rem;
        background: var(--second-color);
        border-radius: 0.5rem;
        margin: 10px;
        padding: 30px;
    }

    @media(max-width:470px) {
        header{
            padding:1px 4%;
        }

        .footer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, auto));
            column-gap: 2rem;
            background: var(--second-color);
            border-radius: 0.5rem;
            margin: 10px;
            padding: 30px;
            row-gap: 1rem;
        }

        .footer p {
            font-size: 0.938rem;
            font-weight: 400;
            margin-bottom: 0.7rem;
            justify-content: center;
        }
    }

}